<!DOCTYPE html>
<html lang = "ja">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

<head>
    <meta charset="UTF-8">
    <title>過去資料</title>
    <link rel = "manifest" href = "./manifest.json">
    <link rel = "stylesheet" href = "style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap">
</head>




<body>


    <header>

		<p class = "site-header">
			<img src = "images/ロゴ_統合2.png" alt = "チームロゴ" width = "244" height = "37"/>
		</p>

		<ul class = "tabs">
            <li><span class = "tabsSpace"><a class = "tabsColor" href = "index.html">ホーム</a></span></li>
            <li><span class = "tabsSpace"><a class = "tabsColor" href = "toujitsu.html">当日資料</a></span></li>
            <li><span class = "tabsSpace"><a class = "tabsColor" href = "siryou20.html">20資料</a></span></li>
            <li><span class = "tabsSpace"></span><b>過去資料</b></span></li>
        </ul>
        
        
		<div class = "humburgerMenu">
			<input type = "checkbox" id = "menuCheck" class = "menuHidden" >
			<label for = "menuCheck" class= "menuOpen"><span></span></label>

			<nav class="humburgerContent">
				<ul class="menuList">
				  <li><a href="index.html">ホーム</a></li>
				  <li><a href="toujitsu.html">当日資料</a></li>
				  <li><a href="siryou20.html">20資料</a></li>
				  <li><a href=""><b>過去資料</b></a></li>
				</ul>
			  </nav>
        </div>
        
    </header>

    <div class = "imaara">
		<img src = "images/IMAARA.png" alt = "20ロゴ" width = "100" height = "100"/>
	</div>
    
    <div class = "title">過去資料<br/><hr class = "hrTitle"></div>


<!-------------------------------------------------------------------------------------->
<!--ここから先過去資料検索機能-->
    <section class = "top">
        <div id = "app">

<!-------------------------------------------------------------------------------------->
<!--ここから先セレクトメニュー・検索ボックス-->
            <div class = 'kensakusuru'>
                <div style = "padding: 20px;" class = "kensakuBox" v-if = "csvCols.length > 0">

                    <div class = "kensakuAll">

                        <p class = "selectMenu">
                            <span class = "erabu1">
                                <select class = "erabu"  v-model = "selectedCol1">
                                    <option v-for = "col in csvCols">{{col}}</option>
                                </select>
                            </span>
                        </p>
                        <p class = "serchBox">
                            <input  class = "nyuryoku" v-model = "searchKeyword1" @keydown.enter = "SearchBoxEnterkey"
                                placeholder = "キーワードを入力"  type = "text" >
                        </p>

                        <p class = "selectMenu2">
                            <span class = "erabu2">
                                <select class = "erabu" v-model = "selectedCol2">
                                    <option v-for="col in csvCols">{{col}}</option>
                                </select>
                            </span>
                        </p>
                        <p class="serchBox2">
                            <input class = "nyuryoku" input v-model = "searchKeyword2" @keydown.enter = "SearchBoxEnterkey"
                                placeholder = "キーワードを入力" type = "text">
                        </p> 

                        <p class = "selectMenu3">
                            <span class = "erabu3">
                                <select class = "erabu" v-model = "selectedCol3">
                                    <option v-for="col in csvCols">{{col}}</option>
                                </select>
                            </span>
                        </p>
                        <p class="serchBox3">
                            <input class = "nyuryoku" v-model = "searchKeyword3" @keydown.enter = "SearchBoxEnterkey"
                                placeholder = "キーワードを入力" type = "text">
                        </p> 

<!-------------------------------------------------------------------------------------->
<!--ここから先検索ボタン-->
                        <button type = "button" class = "kensakuBtn">
                            <a @click = "kensaku">検&ensp;&thinsp;索</a>
                        </button>

                    </div>
                </div>
            </div>

<!-------------------------------------------------------------------------------------->
<!--ここから先検索結果-->
            <div class = 'kensakusita' style = "padding: 0 20px 0 20px;"> <!--検索結果の表-->
                <div class = "hitsu" id = "hitsu">
                    <label v-if = "csvData.length > 0">
                        検索結果 : {{csvData.length}}件
                    </label>
                </div>

                <div class>
                    <table class = "kekkaTable" id = "kekkaTable" >
                        <thead> <!--表のヘッダ行-->
                            <tr>
                                <th class = "toprow" v-for = "col in csvCols"> {{col}} </th>
                            </tr>
                        </thead>

                        <tbody v-for = "row in csvData">
                            <tr>
                                <td v-for = "(col, index) in csvCols">{{row[index]}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>


        </div> <!--全体締め-->
    </section>

<!-------------------------------------------------------------------------------------->
<!--ここから先最初から出てる資料-->

    <div class = 'kakoSiryou'>
        <div class = "kakoTitle">演出資料</div>
        <details>
            <summary class = "subTitle">企画書<hr class = "hrSubTitle"></summary>
                <ul class = "allContents">
                    <li><a href = "https://docs.google.com/document/d/11FgA8Upz3MGPwK8wOO6xa5TLbcozd3kgKK2pZdzqZT0/edit?usp=sharing" target = "_blank">19OF企画書</a></li>
                    <li><a href = "https://docs.google.com/document/d/1F_lOfr_685i-5ejeimSpWFsw7eoH-1kmvuNLsUsJA7s/edit?usp=sharing" target = "_blank">18OF企画書</a></li>
                    <li><a href = "https://docs.google.com/document/d/1RhYfQPPP_JNLgAPCQGk2YLTeR_ElfrsEVaGOBnI5e44/edit?usp=sharing" target = "_blank">17OF企画書</a></li>
                    <li><a href = "https://docs.google.com/document/d/1kzvXFHCBihN_95l0TSBpgxGgX112Vkk7sUaSPNmh_gs/edit?usp=sharing" target = "_blank">16OF企画書</a></li>
                    <li><a href = "https://docs.google.com/document/d/1suwRrcGhwoxXOtuzzBDY6fybipKlCW4oyZdxyqG2tcU/edit?usp=sharing" target = "_blank">15OF企画書</a></li>
                    <li><a href = "https://drive.google.com/file/d/0B6PIfnMe6626YllJLV9vR0RSVUE/view?usp=sharing" target = "_blank">14OF企画概要</a></li>
                    <li><a href = "https://drive.google.com/file/d/0B_fu-2mzLTkxT1lVUFUwTUcyZ0k/view?usp=sharing" target = "_blank">04OPED最終企画書</a></li>
                    <li><a href = "https://drive.google.com/file/d/0B7LhjFv3WIYzQl90Q0NQSW53eDA/view?usp=sharing" target = "_blank">03OPED企画書</a></li><br/>
                    <li><a href = "https://docs.google.com/document/d/1CBQr7lKvGTTPt1ni9dL1docXwS1Fdsu4_y1JTFluakE/edit?usp=sharing" target = "_blank">19EF企画書</a></li>
                    <li><a href = "https://docs.google.com/document/d/1425gWVdVTk_16nv3vgYr0Mp1iqyY7JMX85QEdki-wlU/edit?usp=sharing" target = "_blank">18EF企画書</a></li>
                    <li><a href = "https://docs.google.com/document/d/1TjcYcmGJ2go74vQ18cW_dhfcHtiooZrCfe5zeiFrrOA/edit?usp=sharing" target = "_blank">17EF企画書</a></li>
                    <li><a href = "https://docs.google.com/document/d/1Iyh3wUq1ycuXFkQgVkvQAlWcHzfIyeMfrHW9WDmbu7I/edit?usp=sharing" target = "_blank">16EF企画書</a></li>
                    <li><a href = "https://docs.google.com/document/d/1suwRrcGhwoxXOtuzzBDY6fybipKlCW4oyZdxyqG2tcU/edit?usp=sharing" target = "_blank">15EF企画書</a></li>
                    <li><a href = "https://drive.google.com/file/d/0B_a0ne3ZHkcNUlFqQjZqUEx5Y28/view?usp=sharing" target = "_blank">14EF企画概要</a></li>
                    <li><a href = "https://drive.google.com/file/d/0B7LhjFv3WIYzZ1k3T0Jqd3gwLXc/view?usp=sharing" target = "_blank">06エンディング最終企画書(開発局)</a></li>
                    <li><a href = "https://drive.google.com/file/d/0B_fu-2mzLTkxX2FnZlNGVkZpcmc/view?usp=sharing" target = "_blank">05EF企画書</a></li>
                    <li><a href = "https://drive.google.com/file/d/0B_fu-2mzLTkxT1lVUFUwTUcyZ0k/view?usp=sharing" target = "_blank">04OPED最終企画書</a></li>
                    <li><a href = "https://drive.google.com/file/d/0B7LhjFv3WIYzQl90Q0NQSW53eDA/view?usp=sharing" target = "_blank">03OPED企画書</a></li><br/>
                    <li><a href = "https://docs.google.com/document/d/1WRPnQeff74mrm8FRn0gYqw5PITvXMNLHBpXImMibCT8/edit?usp=sharing" target = "_blank">19戸山OF企画書</a></li>

                </ul>
        </details>
        <details>
            <summary class = "subTitle">コンテンツ書<hr class = "hrSubTitle"></summary>
                <ul class = "allContents">
                    <li><a href = "https://docs.google.com/document/d/134RMUbSg8EyZ3Qdu1Lpd_fOzlk_v-X5ijDHKy58MJk0/edit?usp=sharing" target = "_blank">19正門前OFコンテンツ書</a></li>
                    <li><a href = "https://docs.google.com/document/d/1OcLtJpBL1j7_oGDcfcmAgrfmeLowGoGfbShEXazW9-c/edit?usp=sharing" target = "_blank">18OFコンテンツ書</a></li>
                    <li><a href = "https://docs.google.com/document/d/1KGd4UNyEToW73f-r_7D3fzbzf7LMVdbD20dcMqe9v-o/edit?usp=sharing" target = "_blank">17OFコンテンツ書</a></li>
                    <li><a href = "https://docs.google.com/document/d/1MdoDH8-ejd4-gTFx9Ks_PaYmkbIPxosBy4eVd444Lnk/edit?usp=sharing" target = "_blank">16OFコンテンツ書</a></li>
                    <li><a href = "https://docs.google.com/document/d/1l1L2NEg6pU3E033bfK-8Zk-D1Vh4OrOdLhIV2_R-7qk/edit?usp=sharing" target = "_blank">15OFコンテンツ書</a></li><br/>
                    <li><a href = "https://docs.google.com/document/d/1zr2oDAetOL_hRepnE7DmytglvcaGzuXG09k5zivdShA/edit?usp=sharing" target = "_blank">19EFコンテンツ書</a></li>
                    <li><a href = "https://docs.google.com/document/d/1OcLtJpBL1j7_oGDcfcmAgrfmeLowGoGfbShEXazW9-c/edit?usp=sharing" target = "_blank">18EFコンテンツ書</a></li>
                    <li><a href = "https://docs.google.com/document/d/1KGd4UNyEToW73f-r_7D3fzbzf7LMVdbD20dcMqe9v-o/edit?usp=sharing" target = "_blank">17EFコンテンツ書</a></li>
                    <li><a href = "https://docs.google.com/document/d/1OYisKOIDdv2iQFDzkvjofjekO3_xs7YePgZlQ38WVb0/edit?usp=sharing" target = "_blank">16EFコンテンツ書</a></li>
                    <li><a href = "https://docs.google.com/document/d/1q5uG4NP127VoDAPMZmWnxI66AJfuGu6-hCCWupQx1gg/edit?usp=sharing" target = "_blank">15EFコンテンツ書</a></li><br/>
                    <li><a href = "https://docs.google.com/document/d/134RMUbSg8EyZ3Qdu1Lpd_fOzlk_v-X5ijDHKy58MJk0/edit?usp=sharing" target = "_blank">19戸山OFコンテンツ書</a>
                </ul>
        </details>
        <br/><br/><br/><br/><hr class = "hrkakoTitle"><br/>
        <div class = "kakoTitle">運営資料</div>
        <details>
            <summary class = "subTitle">警備計画<hr class = "hrSubTitle"></summary>
                <ul class = "allContents">
                    <li><a href = "https://docs.google.com/document/d/1M8icRn2A1BpodSZ7CIPkrd9w-VPVuPdBBIrKzyAFVBc/edit?usp=sharing" target = "_blank">19OPC警備計画</a></li>
                    <li><a href = "https://docs.google.com/document/d/1TyYV9n4ZGqchfO6qUvXNIGh1MJIQkMIAsJPsfIhqc5I/edit?usp=sharing" target = "_blank">18OPP警備運営計画</a></li>
                    <li><a href = "https://docs.google.com/document/d/1LVrNLpXMIQjTBUvE4_6wQLMoM_4FGC0lYDT8kFVIZBQ/edit?usp=sharing" target = "_blank">17OPP警備計画</a></li>
                    <li><a href = "https://docs.google.com/document/d/1U39bHdoX1Fj11RXy4MEybRZMJN1y81Yv6O1IlrQsSmA/edit?usp=sharing" target = "_blank">16OPP警備計画</a></li><br/>
                    <li><a href = "https://docs.google.com/document/d/1cEl6hKCZNq1ZH1P2kO_bz2Pecy4U7VwJ7WFPYMI3eL0/edit?usp=sharing" target = "_blank">19EFアリーナ外警備計画</a></li>
                    <li><a href = "https://docs.google.com/document/d/1p01oCiVypJ6kudFSbS7U0EesLHC4BygoMvz3LdA9klc/edit?usp=sharing" target = "_blank">19EFアリーナ内警備計画</a></li>
                    <li><a href = "https://docs.google.com/document/d/1C_W2eIuLUDp3unkxt7pwJ1VAHt1yTu_ksvwcKLsLuFs/edit?usp=sharing" target = "_blank">18EF警備計画</a></li>
                    <li><a href = "https://docs.google.com/document/d/1F1weVepPizzx9IlgbO995Q3uz-JQOV-CNfVFA8vFzoA/edit?usp=sharing" target = "_blank">17EF警備計画</a></li>
                    <li><a href = "https://docs.google.com/document/d/1BMn4oa7tMfxsYFCvvUGiuIDVV1Yjjb-OjQJ3PKJUHlM/edit?usp=sharing" target = "_blank">16EF警備計画</a></li>
                </ul>
        </details>
        <details>
            <summary class = "subTitle">準備撤収計画<hr class = "hrSubTitle"></summary>
                <ul class = "allContents">
                    <li><a href = "https://docs.google.com/document/d/1-kFFkDOcfk_35vsrB5Q31GCIWYQFKRUyTwJiBqlWqoU/edit?usp=sharing" target = "_blank">19文キャン準備撤収計画</a></li>
                    <li><a href = "https://docs.google.com/document/d/19F64RqoV_M-ONSaMW-1R10GVsmKDJTuTEuNtamJ9T_Y/edit?usp=sharing" target = "_blank">19本キャン準備撤収計画</a></li>
                    <li><a href = "https://docs.google.com/document/d/1uQjW46VgeyUuReUrsTnUuK8K8ug0mI31PjfdPMEh664/edit?usp=sharing" target = "_blank">18準備撤収計画</a></li>
                    <li><a href = "https://docs.google.com/document/d/1Kxy23PCMR0macxQN9XM5OSj81DC5-eCuDYvEkFhNAv4/edit?usp=sharing" target = "_blank">17準備撤収計画</a></li>
                    <li><a href = "https://docs.google.com/document/d/1Kk9mrVUAok2LmMUHRdETr4lMzN3ss4iMhR4FXa_rZ3s/edit?usp=sharing" target = "_blank">16準備撤収計画</a></li><br/>
                </ul>
        </details>
        <details>
            <summary class = "subTitle">悪天候対策マニュアル<hr class = "hrSubTitle"></summary>
                <ul class = "allContents">
                    <li><a href = "" target = "_blank">※19悪天候対策は口伝のため資料なし</a></li>
                    <li><a href = "https://docs.google.com/document/d/1JKTFFKfRQZ0moe6-pK3yts-QDiD0pHMAt5Hs9sFVb1I/edit?usp=sharing" target = "_blank">18悪天候対策マニュアル</a></li>
                    <li><a href = "https://docs.google.com/document/d/1FZdsA3XJI-hcb6mu17_wsYupzjE7g9TiIThO5lciZdE/edit?usp=sharing" target = "_blank">17悪天候対策マニュアル</a></li>
                    <li><a href = "https://docs.google.com/document/d/1An2fz_W6VDFZ6rLEUT4PUl24B_ib3_vtD-jFrZSCWNU/edit?usp=sharing" target = "_blank">16悪天候対策マニュアル</a></li>
                </ul>
        </details>
        <br/><br/><br/><br/><hr class = "hrkakoTitle"><br/>
        <div class = "kakoTitle">チームフォルダ</div>
        <details>
            <summary class = "subTitle">OFEFチームフォルダ<hr class = "hrSubTitle"></summary>
                <ul class = "allContents">
                    <li><a href = "https://drive.google.com/drive/folders/1HjRoYjjZKCc75CRPan0ggTmclj-sk-K0?usp=sharing" target = "_blank">2020</a></li>
                    <li><a href = "https://drive.google.com/drive/folders/1uJTQv2QyuWjpkQoPPLyI15_VwmCtHulI?usp=sharing" target = "_blank">2019</a></li>
                    <li><a href = "https://drive.google.com/drive/folders/1jwXuU9FPzO7W_x9QgMLcKXn6WzGbetjj?usp=sharing" target = "_blank">2018</a></li>
                    <li><a href = "https://drive.google.com/drive/folders/0BxxeeCKVZgN2VjB5bWlQa2NmNms?usp=sharing" target = "_blank">2017</a></li>
                    <li><a href = "https://drive.google.com/drive/folders/0B20_ZPgD26L8aUs0bXFZQzJLZ2M?usp=sharing" target = "_blank">2016</a></li>
                    <li><a href = "https://drive.google.com/drive/folders/0B9WCvC5J0bHPfjA2OVBTSzVjUzhLZmlLWXdyMm4xc3BJVmFrdE8xa2U2STNsSXQtSE1MbDg?usp=sharing" target = "_blank">2015</a></li>
                </ul>
        </details>
        <details>
            <summary class = "subTitle">大隈講堂前ステージ企画チームフォルダ<hr class = "hrSubTitle"></summary>
                <ul class = "allContents">
                    <li><a href = "https://drive.google.com/drive/folders/15wygsA8IQz1gpDUy997byubpPwcjfnXB?usp=sharing" target = "_blank">2019(大隈講堂前ステージ代替企画チーム)</a></li>
                    <li><a href = "https://drive.google.com/drive/folders/1zjp6PWkMH2p4mggC4JZdPzZAKHsfIdBK?usp=sharing" target = "_blank">2018</a></li>
                    <li><a href = "https://drive.google.com/drive/folders/0BxyxY4vhS0-XUHJuRnlyaDlubkk?usp=sharing" target = "_blank">2017</a></li>
                    <li><a href = "https://drive.google.com/drive/folders/0BzamkyyJznETb0NHX0htMXpxVkk?usp=sharing" target = "_blank">2016</a></li>
                    <li><a href = "https://drive.google.com/drive/folders/0B4wru7QfvBw5SzFGVDdhbWp0Q1U?usp=sharing" target = "_blank">2015</a></li>
                    <li><a href = "https://drive.google.com/drive/folders/0B3sEJ0MiSIQEcGt1THN1S09jLTA?usp=sharing" target = "_blank">2014</a></li>
                    <li><a href = "https://drive.google.com/drive/folders/1GZDA_E4ZbyYOQ5ox6nvJ8UlsvevsNUZr?usp=sharing" target = "_blank">2013</a></li>
                    <li><a href = "https://drive.google.com/drive/folders/1Fz40hNwrm9JPsS_eMzoCzYHSiyaZKC4r?usp=sharing" target = "_blank">2012</a></li>
                    <li><a href = "https://drive.google.com/drive/folders/1XahOGsRkMiGX87B4zpSM19iJgSLecIUR?usp=sharing" target = "_blank">2012</a></li>
                    <li><a href = "https://drive.google.com/drive/folders/1jwXuU9FPzO7W_x9QgMLcKXn6WzGbetjj?usp=sharing" target = "_blank">2011</a></li>
                    <li><a href = "https://drive.google.com/drive/folders/1IqjnkGmLzotnnFKrh58_msC14-_JTvjA?usp=sharing" target = "_blank">2010</a></li>
                    <li><a href = "https://drive.google.com/drive/folders/1Uo3kAskNAPYJfdu_FSdDtRNFhUY1L6xP?usp=sharing" target = "_blank">2009</a></li>
                    <li><a href = "https://drive.google.com/drive/folders/1fw4jQeogrhbwIjrjKv_ayF93_yGK5cpI?usp=sharing" target = "_blank">2008</a></li>
                    <li><a href = "https://drive.google.com/drive/folders/1fhImXlBtqJPR-E_SS_yWTSfv2rbRZjGq?usp=sharing" target = "_blank">2007(大隈講堂前特設ステージチーム)</a></li>
                    <li><a href = "https://drive.google.com/drive/folders/158zQceOYHSNES3DFlATiVCF19qdtTjK4?usp=sharing" target = "_blank">2006(正門前特設ステージチーム)</a></li>
                    <li><a href = "https://drive.google.com/drive/folders/1bj8J-B9c77UGseY5hTpHhX5Baq2Jmh3G?usp=sharing" target = "_blank">2005(ステージチーム)</a></li>
                    <li><a href = "https://drive.google.com/drive/folders/0B9WCvC5J0bHPfjA2OVBTSzVjUzhLZmlLWXdyMm4xc3BJVmFrdE8xa2U2STNsSXQtSE1MbDg?usp=sharing" target = "_blank">2004(ステージチーム)</a></li>
                </ul>
        </details>
        <br/><br/><br/><br/><hr class = "hrkakoTitle"><br/>
        <div class = "kakoTitle">総括</div>
        <details>
            <summary class = "subTitle">2019<hr class = "hrSubTitle"></summary>
                <ul class = "allContents">
                    <li><a href = "https://docs.google.com/document/d/1KK6Q3PpE1Oo0OOIIPeOUNzxc4gIllrdydCzhIEUTJFs/edit?usp=sharing" target = "_blank">機材総括</a></li>
                    <li><a href = "https://docs.google.com/document/d/1C8wrFmONcWuOl1fXWSjBSh8yZokxfmo22UxkfR9KTWo/edit?usp=sharing" target = "_blank">OF企画担当総括</a></li>
                    <li><a href = "https://docs.google.com/document/d/1yg4z14PACSg7qo4JOAYYoUEIZX1Sj3dASP0zcKdSYAg/edit?usp=sharing" target = "_blank">戸山OF演出統括総括</a></li>
                    <li><a href = "https://drive.google.com/file/d/1g4yR9BpTd4Rndx_L0q3GDnWDtU5younC/view?usp=sharing" target = "_blank">隈ステチーフ総括</a></li>
                </ul>
        </details>
        <details>
            <summary class = "subTitle">2018<hr class = "hrSubTitle"></summary>
                <ul class = "allContents">
                    <li><a href = "https://docs.google.com/document/d/1EmWkv3D3khhXNdtT8JLW7nZfxVxwOZ5LMVlElo2zQcM/edit?usp=sharing" target = "_blank">隈ステチーフ総括</a></li>
                </ul>
        </details>
        <details>
            <summary class = "subTitle">2017<hr class = "hrSubTitle"></summary>
                <ul class = "allContents">
                    <li><a href = "https://docs.google.com/document/d/11W2SrBUkx-GXTVMQP18n9FOZHCoiFImSFR_TCyEdgpo/edit?usp=sharing" target = "_blank">チーフ総括</a></li>
                    <li><a href = "https://docs.google.com/document/d/1pMbf0S15EUObh0_lxfbPbnDR3DzQnL4YIS8ONCkWgiM/edit?usp=sharing" target = "_blank">EF統括総括</a></li>
                    <li><a href = "https://docs.google.com/document/d/1jc9r6vqMJn100U1VfSc-JLTlLE_S9bdfoMFXb2q43UU/edit?usp=sharing" target = "_blank">運営統括総括</a></li>
                    <li><a href = "https://docs.google.com/document/d/1hGlDzI3mgz4Uv0EOixe8HEvWaUJWnF37EUCisida30I/edit?usp=sharing" target = "_blank">OF運営統括総括</a></li>
                    <li><a href = "https://docs.google.com/document/d/1-pDgmRjApM2DEeSlCIFxCJJ8bH3yjNMprOl9FDNgyVQ/edit?usp=sharing" target = "_blank">OF運営副統括総括</a></li>
                    <li><a href = "https://drive.google.com/file/d/1rlZwsbJB7JD38gU5mYEickVupO_dqyWI/view?usp=sharing" target = "_blank">参加団体統括総括</a></li>
                    <li><a href = "https://docs.google.com/document/d/1wx27B-FpHc7kjHHuZOCK5Bwaj36wBZ0Xd22KUPM9mp4/edit?usp=sharing" target = "_blank">出演団体担当統括総括</a></li>
                    <li><a href = "https://docs.google.com/document/d/1-wPyyW2rFvgEjwXmbrGag-hhloSK4QUG9as4x5D2dVg/edit?usp=sharing" target = "_blank">出演団体対応総括</a></li>
                    <li><a href = "https://docs.google.com/document/d/1WBqQJKU4hm6FuzQ3M1W00Go58VQVagzcRL2eNBWl2gc/edit?usp=sharing" target = "_blank">出演団体担当新規総括</a></li>
                    <li><a href = "https://docs.google.com/document/d/1MtUBTGFpwpRXTOlTUpANIpfVajVygO34FoyBrnwjFic/edit?usp=sharing" target = "_blank">隈ステチーフ総括</a></li>
                </ul>
        </details>
        <details>
            <summary class = "subTitle">2016<hr class = "hrSubTitle"></summary>
                <ul class = "allContents">
                    <li><a href = "https://docs.google.com/spreadsheets/d/1KIdpKH7ebwTgNyZYrPieiRr0f2IIY0Ex_Te2gk35GeQ/edit?usp=sharing" target = "_blank">チーフ総括</a></li>
                    <li><a href = "https://docs.google.com/document/d/1elXskiIFjP4umf6IJms6MxLLQpow_GTagaKsR_lOTlg/edit?usp=sharing" target = "_blank">EF副統括総括</a></li>
                    <li><a href = "https://docs.google.com/document/d/1bwAQguF80bPo5S_0GC34khk01eRKMJHbAbYN38dyPdk/edit?usp=sharing" target = "_blank">OF運営担当総括</a></li>
                    <li><a href = "https://docs.google.com/document/d/18cItTFis0-dy8bIJy8lvaQ3dnTJ3aVnuikUY_YF70J0/edit?usp=sharing" target = "_blank">EF運営担当総括</a></li>
                    <li><a href = "https://docs.google.com/document/d/1HmDxIQZXBrilxxL-78JRhdP9YX3iZ_bAf4k_ojP8y7E/edit?usp=sharing" target = "_blank">EF運営副統括総括</a></li>
                    <li><a href = "https://docs.google.com/document/d/1nTr-XfSuIARyd0dxpiNlOIwXCHNYxNJv4Jrgm-_FA_M/edit?usp=sharing" target = "_blank">OF運営新規総括</a></li>
                    <li><a href = "https://docs.google.com/document/d/1xUBA688EjYT555cPVncXnqYF8ScmRMmlSgNzFUuYChk/edit?usp=sharing" target = "_blank">参加団体担当統括総括</a></li>
                    <li><a href = "https://docs.google.com/document/d/13LeEuPPJ89xjW9Zz-h-eDY_WEnqiJZJxOo5vDBlAxzM/edit?usp=sharing" target = "_blank">参加団体担当総括</a></li>
                    <li><a href = "https://docs.google.com/document/d/1XmPAaHy73vyaDzETVqFTnd0ZP6FE56LEgvphar8nL_o/edit?usp=sharing" target = "_blank">参加団体対応総括</a></li>
                    <li><a href = "https://docs.google.com/document/d/1vhx1GcVL5umjWiEtVbgPSDgYd-BtdP4eFol4JQgqqx4/edit?usp=sharing" target = "_blank">キャノン総括</a></li>
                </ul>
        </details>
        <details>
            <summary class = "subTitle">2015<hr class = "hrSubTitle"></summary>
                <ul class = "allContents">
                    <li><a href = "https://docs.google.com/document/d/18K1aXbjhFUp1y2p8EA1GM8Al2pJHWsNFRMClvBojfJE/edit?usp=sharing" target = "_blank">OFEFチーム総括</a></li>
                    <li><a href = "https://docs.google.com/document/d/1e2viTS7wQR1Iu6MNUq3OGNpM0AAmszoamdP9SrXmJUQ/edit?usp=sharing" target = "_blank">個人総括岩下</a></li>
                    <li><a href = "https://docs.google.com/document/d/1OAcSgw_MYJ5PY7m8G6dYFAvKcnE9Wp2p6KKTAkcfkBU/edit?usp=sharing" target = "_blank">個人総括吉田</a></li>
                    <li><a href = "https://docs.google.com/document/d/1Nq4nygk0uyStWdyGv5F7uwi_MnWEs8iCsFDJ_SiEJcc/edit?usp=sharing" target = "_blank">個人総括今野</a></li>
                    <li><a href = "https://docs.google.com/document/d/1aTdbI5dfv4kuABAhz9jExgBR1yaJ1Pk-NBvDwN-5ZOE/edit?usp=sharing" target = "_blank">個人総括竹内</a></li>
                    <li><a href = "https://docs.google.com/document/d/1BopsZeTL6Udh3yjKDtRiWwvlJZQGUd-WGBgCAO4TuXI/edit?usp=sharing" target = "_blank">機材総括</a></li>
                </ul>
        </details>
        <details>
            <summary class = "subTitle">2013<hr class = "hrSubTitle"></summary>
                <ul class = "allContents">
                    <li><a href = "https://docs.google.com/document/d/10wjweUSWJMFg-1eDrZrtpRTaRFQdCKcIgfzCXXfDgdA/edit?usp=sharing" target = "_blank">大隈講堂前ステージ企画警備計画(+総括)</a></li>
                </ul>
        </details>
        <details>
            <summary class = "subTitle">2011<hr class = "hrSubTitle"></summary>
                <ul class = "allContents">
                    <li><a href = "https://drive.google.com/file/d/0By41k3u-a5llR1hQZTVQTkpXSW8/view?usp=sharing" target = "_blank">EF運営担当総括</a></li>
                </ul>
        </details>
        <details>
            <summary class = "subTitle">2002<hr class = "hrSubTitle"></summary>
                <ul class = "allContents">
                    <li><a href = "https://drive.google.com/file/d/0B4tNVmqf5ru2Ri1VWHNOc2VQQUk/view?usp=sharing" target = "_blank">エンディングイベントの総括</a></li>
                </ul>
        </details>
        <br/><br/><br/><br/><hr class = "hrkakoTitle"><br/>
        <details>
            <summary class = "subTitle">歴認資料<hr class = "hrSubTitle"></summary>
                <ul class = "allContents">
                    <br/><li><a href = "https://docs.google.com/spreadsheets/d/1xxwspalcmnMNAcIpuZcHew1eHuAQWYj8LuHNJqxk_Z0/edit?usp=sharing" target = "_blank">OFEF歴認2020</a></li>
                    <li><a href = "https://docs.google.com/document/d/1nL2xN0VSOH6ko4no4v7kUZ_XBamGT_r_PRRASQ_bRxM/edit?usp=sharing" target = "_blank">2019年度歴認白書</a></li>
                    <li><a href = "https://docs.google.com/document/d/13eUgQXwF6U98IuzQiLHeJe2LIfAaXt36YTN1loKEOP0/edit?usp=sharing" target = "_blank">2018年度企画局歴史認識</a></li>
                    <li><a href = "https://docs.google.com/spreadsheets/d/1aRB_4nOckTh2k5ip2oF00QXb294JMp___N0ALA8QUuA/edit?usp=sharing" target = "_blank">17.5歴史編纂会議体歴代資料集</a></li>
                    <li><a href = "https://docs.google.com/document/d/1Q4BN0PK7becpvXKKd-cJ4IYyu_5BJ8RoCPys-f7RU7k/edit?usp=sharing" target = "_blank">早稲田祭運営スタッフ第二次組織編制完成版</a></li>
                    <li><a href = "https://docs.google.com/document/d/14B6-3lcKagpVrB0y4pazj_gVY1ZPP8fRfh6BQ95jNSg/edit?usp=sharing" target = "_blank">11温故知新</a></li>
                </ul>

        </details>
    </div>


<!-------------------------------------------------------------------------------------->
<!-- トップに戻る -->
<div class="modoru" id="modoruTop">
        <img src = images\トップに戻る.png width = 15% alt = 'トップに戻る'>
</div>



    <footer id = 'site-footer' class = 'site-footer'>
		<table class = 'underTabs'>
			<tr>
				<th class = "underTabsSpace"><a href="index.html"><img src = tabs\ホーム.png width = '50' height = auto></a></div>
				<th class = "underTabsSpace"><a href="toujitsu.html"><img src = tabs\QR.png width = '50' height = auto></a></div>
				<th class = "underTabsSpace"><a href="siryou20.html"><img src = tabs\20ロゴ.png width = '50' height = auto></a></div>
				<th class = "underTabsSpaceNow"><a href="siryouKako.html"><img src = tabs\19ロゴ.png width = '50' height = auto></a></div>
			</tr>
		</table>
	</footer>

<!-------------------------------------------------------------------------------------->

<script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src = "https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<script type = "text/javascript" src = "kensaku.js"></script>
<script src = "https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.1/js/jquery.tablesorter.min.js"></script>
<script src = "https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"
    integrity = "sha512-rKFvwjvE4liWPlFnvH4ZhRDfNZ9FOpdkD/BU5gAIA3VS3vOQrQ5BjKgbO3kxebKhHdHcNUHLqxQYSoxee9UwgA=="
    crossorigin = "anonymous"></script>


</body>

</html>
